html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    width: 70%;
    margin: 0; /* Középre igazítás */
    padding: 5px; /* Belső térköz a tartalom körül */
    bottom: 20%;
    margin-right: 28%;
}

/* Fejléc stílusok */
header {
    background-color: #000000; /* Fekete */
    padding: 10px 0;
    color: #ffff00; /* Sárga */
}

.navbar-brand {
    font-size: 1.5rem;
    color: #ffff00; /* Sárga */
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    color: #666666; /* Szürke */
}

/* Kategória szűrő gombok stílusok */
.nav-link {
    color: #666666; /* Szürke */
}

/* Termék kártyák és tartalmuk stílusok */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* A tartalmat balra igazítjuk a sorokban */
    width: 70%;
    max-height: 72.3%;
    position: fixed;
    overflow-y: scroll;
    scroll-behavior: smooth;
    min-height: 100px;
    overflow-x: hidden;
}

.card-item {
    display: flexbox;
    min-width: 11rem;
    max-width: 11rem;
    min-height: 100px;
    max-height: 100px;
    box-sizing: border-box; /* A padding ne növelje a szélességet */
}

.card-body {
    padding: 10px;
}

.card {
    border: 1px solid #cccccc; /* Szürke */
    border-radius: 5px;
    display: flexbox;
    min-width: 11rem;
    max-width: 11rem;
    min-height: 100px;
    max-height: 100px;
}

.Beer {
    background-color: #90ee90; /* Világoszöld */
    border: 1px solid #cccccc; /* Szürke */
    border-radius: 5px;
    display: flexbox;
    min-width: 11rem;
    max-width: 11rem;
    min-height: 100px;
    max-height: 100px;
}

.Energydrink {
    background-color: #0000ff; /* Kék */
    color: #ffffff; /* Fehér */
    border: 1px solid #cccccc; /* Szürke */
    border-radius: 5px;
    display: flexbox;
    min-width: 11rem;
    max-width: 11rem;
    min-height: 100px;
    max-height: 100px;
}

.Water {
    background-color: #00ffff; /* Világoskék */
    border: 1px solid #cccccc; /* Szürke */
    border-radius: 5px;
    display: flexbox;
    min-width: 11rem;
    max-width: 11rem;
    min-height: 100px;
    max-height: 100px;
}

.Shot {
    background-color: #8a2be2; /* Kékibolyt */
    color: #ffffff; /* Fehér */
    border: 1px solid #cccccc; /* Szürke */
    border-radius: 5px;
    display: flexbox;
    min-width: 11rem;
    max-width: 11rem;
    min-height: 100px;
    max-height: 100px;
}

.Spritz {
    background-color: #d46f6f; /* Rózsaszín */
    border: 1px solid #cccccc; /* Szürke */
    border-radius: 5px;
    display: flexbox;
    min-width: 11rem;
    max-width: 11rem;
    min-height: 100px;
    max-height: 100px;
}

.Champagne {
    background-color: #ffd700; /* Arany */
    border: 1px solid #cccccc; /* Szürke */
    border-radius: 5px;
    display: flexbox;
    min-width: 11rem;
    max-width: 11rem;
    min-height: 100px;
    max-height: 100px;
}

.Longdrink {
    background-color: #32cd32; /* Zöld */
    border: 1px solid #cccccc; /* Szürke */
    border-radius: 5px;
    display: flexbox;
    min-width: 11rem;
    max-width: 11rem;
    min-height: 100px;
    max-height: 100px;
}

.Cocktail {
    background-color: #ffa500; /* Narancs */
    border: 1px solid #cccccc; /* Szürke */
    border-radius: 5px;
    display: flexbox;
    min-width: 11rem;
    max-width: 11rem;
    min-height: 100px;
    max-height: 100px;
}

.Soda {
    background-color: #5f9ea0; /* Tengerzöld */
    border: 1px solid #cccccc; /* Szürke */
    border-radius: 5px;
    display: flexbox;
    min-width: 11rem;
    max-width: 11rem;
    min-height: 100px;
    max-height: 100px;
    color: #ffffff; /* Fehér */
}

.Cup {
    background-color: #ff0000; /* Piros */
    border: 1px solid #cccccc; /* Szürke */
    border-radius: 5px;
    display: flexbox;
    min-width: 11rem;
    max-width: 11rem;
    min-height: 100px;
    max-height: 100px;
    color: #ffffff; /* Fehér */
}

.card-title {
    font-size: 1em;
    font-weight: bold;
}

.card-subtitle {
    font-size: 1em;
    color: #666666; /* Szürke */
}

.card-text {
    font-size: 1em;
}

#adminButton {
    padding: 10px;
    margin-left: 73%;
    margin-top: 1.5%;
}

.summarycontainer {
    position: fixed;
    bottom: 0;
    right: 0;
    min-width: 30%;
    height: 100%;
    background-color: #ffffff; /* Fehér */
    border: 1px solid #cccccc; /* Szürke */
    border-radius: 5px; /* Kerekített sarkok */
    box-sizing: border-box; /* A padding ne növelje a szélességet */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.buttonSum {
    right: 0;
    bottom: 10px;
    top: 87.5%;
    position: fixed;
    z-index: 999; /* Biztosítja, hogy a fixált elem a lap többi tartalma fölé kerüljön */
}

#multiplyInput {
    width: 15%;
    margin: 10px;
}

.input-group {
    display: flex;
}

td .form-control {
    flex: 1;
    margin-right: 5px; /* Opcionális: térköz az input mező és a gombok között */
    min-width: 4pc;
    text-align: center;
}

.input-group .btn {
    margin: 10px;
    width: 15%;
}

/* Fixált összegzés stílusok */
.fixed-summary {
    position: fixed;
    bottom: 0;
    right: 1%;
    width: 28%;
    max-height: 60%;
    bottom: 25%;
    height: 100%;
    background-color: #ffffff; /* Fehér */
    border: 1px solid #cccccc; /* Szürke */
    border-radius: 5px; /* Kerekített sarkok */
    box-sizing: border-box; /* A padding ne növelje a szélességet */
    z-index: 999; /* Biztosítja, hogy a fixált elem a lap többi tartalma fölé kerüljön */
    overflow-y: scroll;
    flex-wrap: wrap;
}

/* A táblázat fejlécének stílusa */
thead {
    position: sticky;
    top: 0;
    background-color: #f0f0f0;
}

/* A táblázat fejlécének celláihoz tartozó stílusok */
.table th {
    font-weight: bold;
    padding: 8px;
    text-align: left;
}

.table {
    padding: 0;
}

.table th,
.table td {
    font-size: 1rem;
    padding: 8px;
}

.table th {
    font-weight: bold;
}

.totalText {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 15px;
}

.trashbin {
    justify-content: center;
    width: 30px;
}

.tableTrash {
    width: 20px;
}

.tablePrice {
    width: 20px;
}

.tablePiece {
    width: 20px;
}

#total {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

#fixed-list {
    max-width: 100%;
    flex-wrap: wrap;
}

#totalAmount {
    top: 76%;
    right: 1%;
    position: fixed;
    width: 28%; /* Korlátozzuk a fix szélességet nagyobb képernyőkön */
    height: 10%;
    max-height: 80%;
    background-color: #ffffff; /* Fehér */
    border: 1px solid #cccccc; /* Szürke */
    border-radius: 5px; /* Kerekített sarkok */
    padding-left: 5px;
    box-sizing: border-box; /* A padding ne növelje a szélességet */
    z-index: 999;
    justify-content: center;
    text-align: center;
}

#clearListBtn {
    width: 28%;
    height: 12.5%;
    position: fixed;
    bottom: 0.7%;
    right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorycontainer {
    min-height: 30%;
    top: 76%;
    position: fixed;
    width: 69%; /* Korlátozzuk a fix szélességet nagyobb képernyőkön */
    height: 10%;
    max-height: 80%;
    background-color: #ffffff; /* Fehér */
    border: 1px solid #cccccc; /* Szürke */
    border-radius: 5px; /* Kerekített sarkok */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* A tartalmat balra igazítjuk a sorokban */
    overflow-x: scroll;
}

#backButton {
    height: 97%;
    width: 250px;
}

.categoryButton .btn {
    margin-top: 5px;
    height: 70%;
}

.d-flex {
    display: flex;
    flex-wrap: wrap; /* Új sor kezdése, ha az elemek nem férnek el egy sorban */
    gap: 1rem; /* Az elemek közötti térköz */
    margin-right: -1rem; /* A jobb oldali elemek közötti részletek eltávolítása */
    height: 80px;
}

/* CSS-szabályok a light osztályhoz */
.light {
    background-color: #ffffff; /* Fehér */
}

/* A light osztályhoz tartozó szöveg színének megváltoztatása */
.light .card-title,
.light .card-subtitle,
.light .card-text {
    color: #000000; /* Fekete */
}
